.LoginCenter {
    margin-top:50px;
}

.sing {
    background-color: aqua;
    text-decoration: none;
}

.sing a {
    text-decoration: none;
    color: black;
}

.sung {
    background-color: black;
    border: 1px solid white;
}
.sung a {
    text-decoration: none;
    color: white;
}